@page "/"
@using Microsoft.Extensions.ML;
@using GoodOrBadTextML.Model;
@using System.IO;
@using Microsoft.ML;

Write something and check its vibe:<br />
<input type="text" @bind=check @bind:event="oninput" width="100" />
<br />

<p>Status: @status</p>
<br />

<button @onclick="() => Vibe()">Vibe Check</button>

@code {
    protected string check;

    protected string status;

    protected async Task Vibe()
    {
        if (String.IsNullOrEmpty(check))
        {
            status = "neutral";
            return;
        }

        var input = new ModelInput { SentimentText = check };

        var prediction = ConsumeModel.Predict(input);

        var sentiment = prediction.Prediction == "1" ? "Toxic" : "Not Toxic";

        status = sentiment;
    }
}